{% extends "index.jinja2" %}
{% block content %}

    <!-- Styling -->
    <style>
        main {
            position: relative;
        }
        #switcher {
            align-self: end;
        }
        #status {
            color: #ff0000;
            align-self: center;
            text-decoration: underline;
            text-align: center;
            position: absolute;
            bottom: -45px;
            width: 200%;
        }
    </style>

    <!-- Content -->
    <h3>PNV3</h3>
    <form>
        <label for = "hostname">Hostname</label>
        <input id = "hostname" type = "text" required>
        <label for = "password">Password</label>
        <input id = "password" type = "password" required>
        <button type = "submit">Login</button>
    </form>
    <span id = "switcher">No hostname? <a href = "#register" id = "switch-type">Make one here.</a></span>
    <span id = "status"></span>
{% endblock %}
{% block js %}
    <script src = "/js/auth.js" async defer></script>
{% endblock %}
