{% extends "index.jinja2" %}
{% block content %}

    <!-- CSS -->
    <style>
        main {
            width: calc(100% - 40px);
            height: calc(100% - 40px);
        }
        header, aside, article {
            border: 1px solid #fff;
            padding: 5px;
        }

        /* Handle top bar */
        header {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;
        }
        header > div {
            display: flex;
            align-items: center;
            gap: 25px;
        }
        svg {
            cursor: pointer;
            scale: 1.3;
        }
        .vertical-sep {
            height: 20px;
            border-left: 1px solid #fff;
        }

        /* Handle bottom */
        footer {
            display: flex;
            gap: 10px;
            flex: 1;
        }

        /* Handle sidebar */
        aside {
            width: 200px;
            height: 96%;
        }

        /* Handle windows */
        section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1;
        }
        article {
            flex: 1;
        }
    </style>

    <!-- Content -->
    <header>
        <h2>Edit Mode · Host "{{ hostname }}"</h2>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
            <div class = "vertical-sep"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"/>
                <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"/>
            </svg>
        </div>
    </header>
    <footer>
        <aside>
        </aside>
        <section>
            <article>Select a file to start editing.</article>
            <article>Select a file to begin rendering.</article>
        </section>
    </footer>
{% endblock %}
